<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Pick your Cactus</title>
    <link rel="stylesheet/less" type="text/css" href="styles.less"/>
    <script src="less.js" type="text/javascript"></script>

</head>
<body>

<div id="shop" v-cloak>

    <div class="product">

        <!--  Product Images  -->

        <div class="product-images">
            <main-image :main-image="mainImage" :alt-text="altText"></main-image>
            <secondary-image
                    :secondary-images="secondaryImages"
                    :change-main-image="changeMainImage"
                    :alt-text="altText"
            ></secondary-image>
        </div>

        <div class="purchase-info">

            <product-name :product-name="productName"></product-name>
            <p class="product-price">$ {{basicCost / 100}}
                <span v-if="extraCost"> + $ {{extraCost}}.00</span>
                <span v-if="selectedCards.length >= 5" class="discount"> - $ 1.00 as a discount :)</span>
            </p>

            <p class="product-stock" v-if="stock > 20">In Stock</p>
            <p class="product-stock" v-else-if="stock >= 10">Almost sold out!</p>
            <p class="product-stock" v-else>Out of Stock</p>

            <p>{{productDescription}}</p>
            <hr>


            <!--  Greeting Cards  -->

            <p class="cards-heading">Add your Greeting Card:
                <span v-for="name in selectedCards">{{name}}</span>
            </p>
            <div class="cards">
                <div v-for="card in cards"
                     @click="addCard(card)"
                     :key="card">
                    <div>
                        <img :src="card.image"
                             alt="card"
                             :class="card.selected ? 'selected' : 'unselected'">
                    </div>
                </div>
            </div>


            <!--  Shopping Cart  -->

            <p v-if="unitCount > 10" class="cart-heading cart-heading-warning">Sorry, that's too many, please order up
                to 10 cacti:</p>
            <p v-else class="cart-heading">You can order up to 10 cacti, go ahead:</p>
            <div class="cart">
                <input type="text" v-model="unitCount" @change="checkUnitCount()">
                <button class="cart-remove" @click="removeUnit()">-</button>
                <button class="cart-add" @click="addUnit()">+</button>
            </div>
            <button class="btn"
                    @click="addToCart()"
                    :disabled="!stock || unitCount > 10"
                    :class="{disabled: !stock || unitCount > 10}">
                <span v-if="!stock">Out of stock</span>
                <span v-else>Add to cart ( {{cart}} items added )</span>
            </button>
        </div>
    </div>

    <p class="links">Some of the information has been found at
        <a target="_blank" href="https://www.cactiguide.com/">cactiguide.com</a>, and
        <a target="_blank" href="https://cactusway.com/">cactus-art.biz</a>
    </p>

</div>


<script src="https://unpkg.com/vue@next"></script>
<script src="main.js"></script>

</body>
</html>