<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pick your Cactus</title>
    <link rel="stylesheet/less" type="text/css" href="styles.less">
    <script src="less.js"></script>
</head>
<body>

<div id="app" v-cloak>

    <div class="product">

        <div class="product-images">
            <img :src="mainImage" :alt="altImageText" class="main-product-image">
            <div class="secondary-product-image">
                <img v-for="image in secondaryImages"
                     :src="image"
                     @mouseover="changeMainImage(image)" :alt="altImageText">
            </div>
        </div>

        <div class="product-info">

            <h1>{{productName}}</h1>
            <p class="product-price">$ {{basicCost / 100}}
                <span v-if="extraCost"> + $ {{extraCost}}.00</span>
                <span v-if="selectedCards.length >= 5" class="discount"> - $ 1.00 as a discount :)</span>
            </p>

            <p class="product-stock" v-if="stock > 20">In Stock</p>
            <p class="product-stock" v-else-if="stock > 10">Almost sold out!</p>
            <p class="product-stock" v-else>Out of Stock</p>

            <p>{{productDescription}}</p>
            <hr>


            <!-- Greeting Cards -->

            <p class="cards-heading">Add your Greeting Card:
                <span v-for="name in selectedCards">{{name}}</span>
            </p>
            <div class="cards">
                <div v-for="card in cards"
                     @click="addCard(card)"
                     :key="card" >
                    <div>
                        <img :src="card.image"
                             alt="card"
                             :class="card.selected ? 'selected' : 'unselected'">
                    </div>
                </div>
            </div>


            <!-- Shopping Cart -->

            <p v-if="unitCount > 10" class="cart-heading cart-heading-warning">Sorry, that's too much, please order up to 10 cacti:</p>
            <p v-else class="cart-heading">You can order up to 10 cacti, go ahead:</p>
            <div class="cart">
                <input type="text" v-model="unitCount" @change="checkUnitCount()">
                <button class="cart-remove" @click="removeItem()">-</button>
                <button class="cart-add" @click="addItem()">+</button>
            </div>
            <a class="btn"
               href="#"
               @click="addToCart()"
               :disabled="!stock">
                Add to cart <span> ( {{cart}} items added )</span>
            </a>

        </div>
    </div>


    <!-- Product Description -->

    <div class="product-description">
        <h2>{{productName}}</h2>
        <p>
            "Fairytale castle", Fairy castle" or "Green finger" cactus is the evocative name by which this common succulent plant is marketed and refers to the numerous vertical stems of different heights that resemble spires and turrets. Fairy Castle Cactus grows well on its own roots and will form quite large clumps of several hundreds offsets, if given time and grown properly. Growing fairy castle cactus inside your home is an easy beginning gardener project. It needs plenty of space for its roots. Use pot with good drainage. Bright, warm window seat in summer enjoy being outdoors, but slowly get used to the sun. Place the little cactus in a bright sunny location that is away from drafts or air conditioning.
        </p>
        <ul class="list">
            <li v-for="detail in details">{{ detail }}</li>
        </ul>
    </div>

</div>


<script src="https://unpkg.com/vue@next"></script>
<script src="main.js"></script>

</body>
</html>